/* ROOT */

@font-face {
  font-family: "Lavigne";
  src: url("../assets/Lavigne.otf");
}

/* HTML */

html {
  min-height: 100vh;
}

html * {
  margin: 0;
  padding: 0;
  font-family: "Lavigne", sans-serif;
}

body {
  background: grey;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding: 30px;
}

/* HEADER */

header {
  width: 100%;
  display: flex;
  align-content: center;
  word-break: break-all;
}

header h1 {
  font-size: 100pt;
  color: rgb(0, 195, 202);
  text-shadow: 2px 2px black;
  margin-top: -30px;
}

/* ARTICLE */

article {
  width: 80%;
}

article h2 {
  font-size: 50pt;
  color: #333;
  text-shadow: 2px 2px #000;
}
