@font-face {
    font-family: "CMUTypewriter";src: 
    url('../img/CMUTypewriter-Light.woff') format('woff'),
    url('../img/CMUTypewriter-Light.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

html {
	//background: #dbffe9;
	font-family: "CMUTypewriter";
	//background-image: url("../img/bg.jpg");
    background: #57a580;
    overflow-x: hidden;

    a {
      color: blue;
      &:visited {
        color: inherit;
    }
}
}

.title {
    display: block;
    position: sticky;
    top: 20px;
    margin: 50px 15px 0 2%;
    z-index: 0;

    &.logo {
        fill: currentColor;
    }

    &.heading {
        font: bold 80pt "Helvetica", sans-serif;
        color: #F4C430;
        width: 600px;

    }
}

header {
    width: 100%;

    span {
        margin: 0 24px 0 0;
    }

    .link-header {
    	display: flex;
        flex-flow: column;
        display: none;

        span {
            display: block;
        }

        > a {
            margin: 0 5px;
            color: orangered;
            font: normal bold 22pt "Helvetica", sans-serif;
            text-decoration: none;
            letter-spacing: 1pt;
            background: #bdbdbd;
            padding: 2px 15px;

            &:hover {
                text-decoration: underline;
            }
        }

        &.lh--internal {}

        &.lh--external {
            //margin-left: auto;

        }
    }
}

#saentis-bg {
    width: 100%;
    position: relative;
    top: -170px;
    margin-bottom: -177px;
    z-index: 1;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.content {
    position: relative;
    background: #5fb38b;
    z-index: 1;
}

@media screen and (max-device-width: 630px) {
    .title {
        margin-left: 5px;
        &.heading {
            font-size: 50pt;
            width: 300px;
        }
    }
}

@media screen and (max-device-width: 1220px) {
    #saentis-bg {
        top: -30px;
        margin-bottom: -37px;
    }
}